.boton_blue {
	height: 140px; 
	/*height: 5em; */
	background-color: #3388CC;
	font-size: 25px !important;
	vertical-align: text-bottom; 
}
.shortcut-button {
  padding: 0 1rem;
  height: 2.125rem;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px #d9d9d9 solid;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-size: .875rem;
  line-height: 100%;
  margin: .15625rem 0;
  position: relative;
  width: 5.75rem;
  height: 5.75rem;
  text-align: center;
  font-size: .75rem;
}
.shortcut-button.default {
  background-color: #008287;
  color: #fff;
}
.shortcut-button:hover {
  border-color: #787878;
}
.shortcut-button:active {
  background: #eeeeee;
  color: #262626;
  box-shadow: none;
}
.shortcut-button:focus {
  outline: 0;
}
.shortcut-button:disabled,
.shortcut-button.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: default;
  border-color: transparent;
}
.shortcut-button * {
  color: inherit;
}
.shortcut-button *:hover {
  color: inherit;
}
.shortcut-button.rounded {
  border-radius: .325rem;
}
.shortcut-button > [class*=mif-] {
  vertical-align: middle;
}
.shortcut-button img {
  height: .875rem;
  vertical-align: middle;
  margin: 0;
}
.shortcut-button.loading-pulse {
  position: relative;
  padding: 0 1.325rem;
}
.shortcut-button.loading-pulse:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
          animation: scaleout 1s infinite ease-in-out;
}
.shortcut-button.loading-pulse.lighten:before {
  background-color: #fff;
}
.shortcut-button.loading-cube {
  position: relative;
  padding: 0 1.325rem;
}
.shortcut-button.loading-cube:before,
.shortcut-button.loading-cube:after {
  content: "";
  background-color: #333;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -8px;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
          animation: cubemove 1.8s infinite ease-in-out;
}
.shortcut-button.loading-cube:after {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.shortcut-button.loading-cube.lighten:before,
.shortcut-button.loading-cube.lighten:after {
  background-color: #fff;
}
.shortcut-button.dropdown-toggle {
  padding-right: 1.625rem;
}
.shortcut-button.dropdown-toggle.drop-marker-light:before,
.shortcut-button.dropdown-toggle.drop-marker-light:after {
  background-color: #ffffff;
}
.shortcut-button.primary {
  background: #2086bf;
  color: #ffffff;
  border-color: #2086bf;
}
.shortcut-button.primary:active {
  background: #1b6eae;
  color: #ffffff;
}
.shortcut-button.success {
  background: #60a917;
  color: #ffffff;
  border-color: #60a917;
}
.shortcut-button.success:active {
  background: #128023;
  color: #ffffff;
}
.shortcut-button.danger,
.shortcut-button.alert {
  background: #ce352c;
  color: #ffffff;
  border-color: #ce352c;
}
.shortcut-button.danger:active,
.shortcut-button.alert:active {
  background: #9a1616;
  color: #ffffff;
}
.shortcut-button.info {
  background: #59cde2;
  color: #ffffff;
  border-color: #59cde2;
}
.shortcut-button.info:active {
  background: #1ba1e2;
  color: #ffffff;
}
.shortcut-button.warning {
  background: #fa6800;
  color: #ffffff;
  border-color: #fa6800;
}
.shortcut-button.warning:active {
  background: #bf5a15;
  color: #ffffff;
}
.shortcut-button.link {
  background: transparent;
  color: #2086bf;
  border-color: transparent;
  text-decoration: underline;
}
.shortcut-button.link:hover,
.shortcut-button.link:active {
  background: transparent;
  color: #114968;
  border-color: transparent;
}
.shortcut-button .icon,
.shortcut-button .title {
  display: block;
  color: inherit;
  text-align: left;
}
.shortcut-button .icon {
  font-size: 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
  margin: .875rem auto;
  text-align: right;
}
.shortcut-button .badge {
  color: inherit;
  position: absolute;
  top: 0;
  right: 0;
  font-size: .7rem;
  line-height: 1rem;
  padding: 0 .225rem;
}
a.shortcut-button {
  padding-top: 10px;
}



.bg-cyan {
  background-color: #1ba1e2 !important;
}

.bg-active-darkBlue:active {
  background: #16499a !important;
}

.fg-white {
  color: #ffffff !important;

.before-fg-white:before {
  color: #ffffff !important;
}
.after-fg-white:after {
  color: #ffffff !important;
}