.banner,.map{
    width:100%;
}

.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}


.big_button {
    height: 100px; 
    /*height: 5em; */

    font-size: 25px !important;
    vertical-align: text-bottom; 
}
.price {
    /*color: #3388CC;*/
    color: #63A01B;
}
.green {
    /*color: #3388CC;*/
    color: #63A01B;
}
.red {
    /*color: #3388CC;*/
    color: #FF0000;
}
.deuda {
 color: #FF0000;
}


.blue_btn {
    -moz-box-shadow: 0px 10px 14px -7px #3387cc !important;
    -webkit-box-shadow: 0px 10px 14px -7px #3387cc !important;
    box-shadow: 0px 10px 14px -7px #3387cc !important;
    background-color:#3387cc !important;
    /*-moz-border-radius:8px !important;
    -webkit-border-radius:8px !important;
    border-radius:8px !important;*/
    display:inline-block !important;
    cursor:pointer !important;
    color:#ffffff !important;
/*    font-family:Arial !important;
    font-size:20px !important;
    font-weight:bold !important;*/
    padding:13px 32px !important;
    text-decoration:none !important;
    text-shadow:0px 1px 0px #000000 !important;
}
.blue_btn:hover {
    background-color:#357ab3 !important;
}
.blue_btn:active {
    position:relative !important;
    top:1px !important;
}

.css_titulo {

    width: 25% !important;
    font-size: 18px !important;
}
.cliente_nombre {
    width: 70% !important;
    font-size: 18px !important;
}


.tab_content {
    min-height: 850px;
    /*background-color: yellow;*/
}
@media only screen and (min-width: 1200px) {
    .tab_content {
        min-height: 375px;
        /*background-color: red;*/
    }
}
