.btn_next_style {
    background-color: #81CE97!important;
    color: white !important;
    text-shadow: 0px 1px #000000 !important;
}
.btn_prev_style {
    background-color: #81CE97!important;
    color: white !important;
    text-shadow: 0px 1px #000000 !important;
}

.banner,.map{
    width:100%;
}

.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}


.big_button {
    height: 100px; 
    /*height: 5em; */

    font-size: 25px !important;
    vertical-align: text-bottom; 
}
.price {
    /*color: #3388CC;*/
    color: #63A01B;
}
.green {
    /*color: #3388CC;*/
    color: #63A01B;
}
.red {
    /*color: #3388CC;*/
    color: #FF0000;
}
.deuda {
 color: #FF0000;
}


.blue_btn {
    -moz-box-shadow: 0px 10px 14px -7px #3387cc !important;
    -webkit-box-shadow: 0px 10px 14px -7px #3387cc !important;
    box-shadow: 0px 10px 14px -7px #3387cc !important;
    background-color:#3387cc !important;
    /*-moz-border-radius:8px !important;
    -webkit-border-radius:8px !important;
    border-radius:8px !important;*/
    display:inline-block !important;
    cursor:pointer !important;
    color:#ffffff !important;
/*    font-family:Arial !important;
    font-size:20px !important;
    font-weight:bold !important;*/
    padding:13px 32px !important;
    text-decoration:none !important;
    text-shadow:0px 1px 0px #000000 !important;
}
.blue_btn:hover {
    background-color:#357ab3 !important;
}
.blue_btn:active {
    position:relative !important;
    top:1px !important;
}

.css_titulo {

    width: 25% !important;
    font-size: 18px !important;
}
.cliente_nombre {
    width: 70% !important;
    font-size: 18px !important;
}


.tab_content {
    min-height: 850px;
    /*background-color: yellow;*/
}
@media only screen and (min-width: 1200px) {
    .tab_content {
        min-height: 375px;
        /*background-color: red;*/
    }
}
.estilo_sub_total {
    border:5px solid #D6F4DD !important;
    font-weight: bold;
}

.blured_alan{
    -webkit-filter: grayscale(1);
}

.not_blured_alan{
    -webkit-filter: none; 
}

.btn_prev_style {
    /*color: yellow !important;*/
    /*background-color: yellow;*/
    margin-top:-50px !important;
}
.btn_next_style {
    margin-top:-40px !important;
    float: right !important;
}
@media only screen and (max-width: 420px) {
    .btn_prev_style {
        /*color: red !important;*/
        margin-top: 30px !important;
        /*background-color: red;*/
    }
    .btn_next_style {
        margin-top: 30px !important;
        float: right !important;
    }
}

.class_confirmaciones{
    -webkit-box-shadow: inset 0 0 10px #2B9842, 0 0 10px #2B9842 !important;
    -moz-box-shadow: inset 0 0 10px #2B9842, 0 0 10px #2B9842 !important;
    box-shadow: inset 0 0 10px #2B9842, 0 0 10px #2B9842 !important;
    background-color: #2B9842 !important;
} 

.next_deuda {
    -webkit-box-shadow: inset 0 0 10px #81CE97, 0 0 10px #81CE97 !important;
    -moz-box-shadow: inset 0 0 10px #81CE97, 0 0 10px #81CE97 !important;
    box-shadow: inset 0 0 10px #81CE97, 0 0 10px #81CE97 !important;
    background-color: #0C95BE !important;
}

.btn_confirmar_ventas_vacia {
    -webkit-box-shadow: inset 0 0 10px #BC1919, 0 0 10px #BC1919 !important;
    -moz-box-shadow: inset 0 0 10px #BC1919, 0 0 10px #BC1919 !important;
    box-shadow: inset 0 0 10px #BC1919, 0 0 10px #BC1919 !important;
    background-color: #BC1919 !important;
}


/*@media screen and (orientation: portrait) {
    .tab_content {
        background-color: yellow;
    }
}
@media screen and (orientation: landscape) {
    .tab_content {
      background-color: red;
    }
    }*/

    ._total_li{
        background-color: #EAF3E4 !important;
    }
    ._total_li:hover {
        background-color: #DFE8DA !important;
    }
    .total_li{
        background-color: #ABDEBA !important;
    }
    .total_li:hover {
        background-color: #81CE98 !important;
    }




    #venta_tabs > .ui-inlinetabs-bar > .ui-btn-active{
        background-color: #3588CE !important;
        border-color:#3588CE !important;
        text-shadow:0  1px  0  #9C9C9C !important;
        color: #fff !important;
    }
    #venta_tabs > .ui-inlinetabs-bar > .ui-inlinetabs-tab{
        background-color: #F7F7F7 ;
        border-color:#F7F7F7;
        text-shadow:0  1px  0  #F7F7F7 ;
        color: #555;
    }





    .resumen_tabla_final  {
        color: black;
        background: #fff;
        border: 1px solid #b4b4b4;
        font: bold 17px helvetica;
        padding: 0;
        margin-top:10px;
        width: 100%;
        -webkit-border-radius: 8px;
    }

    .resumen_tabla_final tr td {
        color: #666;
        border-bottom: 1px solid #b4b4b4;
        border-right: 1px solid #b4b4b4;
        padding: 10px 10px 10px 10px;
        background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
    }

    .resumen_tabla_final thead tr td {
        color: black;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #b4b4b4;
        border-right: 1px solid #b4b4b4;
        padding: 10px 10px 10px 10px;
        background-image: -webkit-linear-gradient(top, #D4D4D4, #BEBEBE);
    }

    .resumen_tabla_final tr td:last-child {
        border-right: none;
    }

    .resumen_tabla_final tr:last-child td {
        border-bottom: none;
    }
    .resumen_tabla_final thead tr:last-child td  {
        border-bottom: 1px solid #b4b4b4;
    }
    .new_footer{
        background-color:#F9F9F9 !important;
        border-color:#F9F9F9 !important;
    }
    .new_footer h3{
        padding: 20px 0px 20px 0px !important;
    }
    .connection_container {
        position: absolute;
        left: 0px;
        text-align: center;
        width:150px;
    }
    .moni_container {

        position: absolute;
        right: 0px;
        text-align: center;
        width:150px;
        padding-top: 15px;
    }
    .logo_container {
        padding-top: 90px;
    }

    .con_index {
        /*background: url("../img/loader.gif") no-repeat center top;*/
        background-image: url("../img/loader.gif");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 50px;
    }

    .win_10_popup {
        max-width:800px !important; 
        border-color: #F9F9F9 !important;
    }
    .win_10_popup h1{
        text-align: center !important; 
    }

    .win_10_popup .ui-content {
       width:370px !important;
       background-color:#F9F9F9 !important;
       /*color:#ffffff !important;*/
       /*text-shadow:0px 1px 0px #000000 !important;*/
       padding:10px 40px 40px 40px !important;
   }

   .win_10_popup .button_g_10{
    background-color:#81CE96 !important;
    /*color:#ffffff !important;*/
    height:70px !important;
    width:200px !important;
    text-align: center !important;
    /*text-shadow:0px 1px 0px #000000 !important !important;*/
    font-size: 20px !important;
    border-color: #F9F9F9 !important;
}

   .win_10_popup .button_b_10{
    background-color:#3388CC !important;
    text-align: center !important;
    /*text-shadow:0px 1px 0px #000000 !important !important;*/
    font-size: 20px !important;
    border-color: #3388CC !important;
}
   .win_10_popup .button_o_10{
    background-color:#EEA96B !important;
    text-align: center !important;
    /*text-shadow:0px 1px 0px #000000 !important !important;*/
    font-size: 20px !important;
    border-color: #EEA96B !important;
}

.shadowfilter_img {
    -webkit-filter: drop-shadow(-4px 4px 6px rgba(116, 116, 116,0.6));
    filter: url(shadow.svg#drop-shadow);
}
.shadowfilter_img_g {
    -webkit-filter: drop-shadow(-4px 4px 6px rgba(116, 199, 42,0.6));
    filter: url(shadow.svg#drop-shadow);
}
.shadowfilter_img:active {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(116, 116, 116,0.6));
    filter: url(shadow.svg#drop-shadow);
}
.shadowfilter_img_g:active {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(116, 199, 42,0.6));
    filter: url(shadow.svg#drop-shadow);
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #81CE97, 0 0 70px #81CE97, 0 0 80px #81CE97, 0 0 100px #81CE97, 0 0 150px #81CE97;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #81CE97, 0 0 35px #81CE97, 0 0 40px #81CE97, 0 0 50px #81CE97, 0 0 75px #81CE97;
  }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #81CE97, 0 0 70px #81CE97, 0 0 80px #81CE97, 0 0 100px #81CE97, 0 0 150px #81CE97;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #81CE97, 0 0 35px #81CE97, 0 0 40px #81CE97, 0 0 50px #81CE97, 0 0 75px #81CE97;
  }
}

@-moz-keyframes neon_g_b {
  from {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 40px #81CE97, 0 0 70px #81CE97, 0 0 80px #81CE97, 0 0 100px #81CE97, 0 0 150px #81CE97;
  }
  to {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 20px #81CE97, 0 0 35px #81CE97, 0 0 40px #81CE97, 0 0 50px #81CE97, 0 0 75px #81CE97;
  }
}

@-webkit-keyframes neon_g_b {
  from {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 15px #81CE97, 0 0 10px #81CE97, 0 0 15px #81CE97, 0 0 20px #81CE97, 0 0 25px #81CE97;
  }
  to {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 15px #3588CE, 0 0 2px #3588CE, 0 0 4px #3588CE, 0 0 6px #3588CE, 0 0 8px #3588CE;
  }
}

.glowing{
      color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.glowing_g_b{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-animation: neon_g_b 2.5s ease-in-out infinite alternate;
  -moz-animation: neon_g_b 2.5s ease-in-out infinite alternate;
  animation: neon_g_b 2.5s ease-in-out infinite alternate;
}

.btn_next_style{
    border: none !important;
} 

.cont_vcd{
padding-top:20px;
}
.ui-block-a{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.ui-block-b{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.ui-block-c{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.ui-block-d{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.ui-block-e{
    padding-right: 10px !important;
    padding-left: 10px !important;
}